*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 10px;
}



.form-register{
    width: 400px;
    background: #1C2833;
    padding: 40px;
    margin: auto;
    margin-top: 90px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;

}

.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #17A589;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form-register .botons{
    width: 100%;
    background: #117864 ;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}